<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>隔週更新！骨格タイプ別ウェーブ・ストレート・ナチュラルに似合う服。おすすめ商品&コーデを紹介 | PAL CLOSET(パルクローゼット) - パルグループ公式ファッション通販サイト</title>
  <meta name="keywords" content="骨格診断,骨格ストレート,骨格ウェーブ,骨格ナチュラル,PAL CLOSET,通販,ファッション,公式通販サイト">
  <meta name="description" content="骨格タイプウェーブ・ストレート・ナチュラル別に似合う素材、柄、着こなしポイントを徹底解説。今すぐ着られるおすすめのシーズンアイテムとスタッフコーデも隔週更新！">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="canonical" href="https://www.palcloset.jp/shared/pc_pal/event/palcloset/stylecheck/">
  <meta content="" name="author">
  <meta content="" name="robots">
  <meta content="telephone=no" name="format-detection">
  <meta content="" name="apple-mobile-web-app-title">
  <meta content="fgjNBdciXsAtWmIGg-ReWRpm2ZT7yzLXk7kfZjWC64U" name="google-site-verification">
  <meta content="website" property="og:type">
  <meta content="隔週更新！骨格タイプ別ウェーブ・ストレート・ナチュラルに似合う服。おすすめ商品&コーデを紹介 | PAL CLOSET(パルクローゼット) - パルグループ公式ファッション通販サイト" property="og:title">
  <meta content="https://www.palcloset.jp/shared/pc_pal/event/palcloset/stylecheck/" property="og:url">
  <meta content="https://www.palcloset.jp/shared/pc_pal/event/palcloset/stylecheck/images/banner.jpg" property="og:image">
  <meta content="骨格タイプウェーブ・ストレート・ナチュラル別に似合う素材、柄、着こなしポイントを徹底解説。今すぐ着られるおすすめのシーズンアイテムとスタッフコーデも隔週更新！" property="og:description">
  <meta content="PAL CLOSET" property="og:site_name">
  <meta content="100002442396964" property="fb:admins">
  <link rel="apple-touch-icon" sizes="57x57" href="/shared/pc_pal/images/webclip/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/shared/pc_pal/images/webclip/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/shared/pc_pal/images/webclip/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/shared/pc_pal/images/webclip/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/shared/pc_pal/images/webclip/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/shared/pc_pal/images/webclip/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/shared/pc_pal/images/webclip/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/shared/pc_pal/images/webclip/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/shared/pc_pal/images/webclip/apple-touch-icon-180x180.png">
  <link href="/shared/pc_pal/images/webclip/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
  <link href="/shared/pc_pal/images/webclip/android-chrome-192x192.png" rel="icon" sizes="192x192" type="image/png">
  <link href="/shared/pc_pal/images/webclip/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <!-- css  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="https://www.palcloset.jp/shared/pc_pal/event/css/lp_parts.css">

  <!-- Adobe Fonts -->
  <script>
    (function(d) {
      var config = {
        kitId: 'gth7ime',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>
  <!-- Adobe Fonts -->

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NG6PZGL');
  </script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <div style="display: none;" id="upload"></div>

  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NG6PZGL" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- header -->
  <header></header>

  <!-- main -->
  <main id="app" v-cloak>
    <div class="wrapper">
      <!-- fv -->
      <div class="firstView">
        <h1 class="firstView__title animated fadeIn delay-03s">
          <picture>
            <source srcset="images/firstView/title_pc.svg" alt="似合うがわかればおしゃれは楽しい 骨格タイプ別ほめられ服" media="(max-width: 768px)">
            <img src="images/firstView/title_sp.svg" alt="似合うがわかればおしゃれは楽しい 骨格タイプ別ほめられ服">
          </picture>
        </h1>
        <div class="firstView__check animated fadeIn delay-03s">
          <img class="view_timer" data-end-date="2025/06/09 12:00:00" src="images/firstView/check.png" alt="月曜12:00更新分はこちらからチェック！">
            <p class="view_timer txt1" data-start-date="2025/06/09 12:00:00" >隔週月曜日12:00更新！</p>
            <p class="view_timer txt2" data-start-date="2025/06/09 12:00:00" ><span>\ テーマ別のアイテムはこちらから /</span></p>
        </div>
        <div class="firstView__link">
          <a
            :class="`animated fadeUp delay-0${(index + 1) * 3}s`"
            v-for="(section, index) in sections"
            :href="section.id + '.html#result'"
          >
            <img :src="'images/firstView/fv_' + section.abb + '.png'" :alt="'骨格' + section.type + 'はこちら'" />
          </a>
        </div>
        <p class="firstView__desc animated fadeIn delay-03s">
          「自分に似合う服が分からない..」<br>
          「何を着てもしっくりこない」<br>
          そんなお悩みを骨格診断で解決！<br>
          もう迷わない！<br>
          あなたに似合うほめられ服を探しましょう
        </p>
        <p class="firstView__ai animated fadeIn delay-09s">
          <picture>
            <source srcset="images/firstView/ai_pop.png" alt="AI骨格診断はこちら" media="(max-width: 768px)">
            <img src="images/firstView/ai_pop-pc.png" alt="AI骨格診断はこちら">
          </picture>
        </p>
        <div class="firstView__toshindan animated fadeIn delay-09s">
          <a href="#shindan">
            すぐに診断する
          </a>
        </div>
        <!-- <p class="ai">AI骨格診断は終了いたしました</p> -->
      </div>

      <!-- lead -->
      <div class="lead">
        <h2 class="lead__title fadeToRight">骨格診断とは？</h2>
        <p class="lead__text animated inviewfadeIn">
          骨・筋肉・脂肪・皮膚などのつき方によって、<br class="hidden-sp">似合う「素材」や「デザイン」がわかるスタイルアップ理論。<br>
          <br>
          自分の骨格タイプに合った選び方や組み合わせを知ることで、<br class="hidden-sp">着こなしをより素敵に見せられます。<br>
          高身長や低身長やぽっちゃり体型や痩せ型など<br class="hidden-sp">お悩みでも骨格タイプは変わりません。<br>
          本当に似合う洋服選びやコーデのポイントを知るために、<br class="hidden-sp">まずは簡単な質問に答えてどの骨格タイプに当てはまるのか自己診断をしてみましょう！
        </p>
      </div>

      <!-- shindan -->
      <div class="shindan" id="shindan">
        <!-- 骨格診断の方法を選ぶ -->
        <div class="shindan__way">
          <p class="shindan__wayTitle fadeToRight">骨格診断の方法を選ぶ</p>
          <ul class="shindan__wayDirection">
            <li>
              <a
                class="shindan__toNiaino"
                id="to-niaino"
                target="_blank"
                onclick="dataLayer.push({'event': 'click_event', 'event_category': 'banner','event_action': 'click', 'event_label': 'palcloset_241202_niaino'});"
              >
                <picture onclick="open_niaino_sub_window('54fe1117-6bcd-498a-a291-5a17290fc41d')">
                  <source srcset="images/shindan/toniaino.jpg" alt="「NIAiNO」の無料AI診断に画像を送って診断する" media="(max-width: 768px)">
                  <img src="images/shindan/toniaino_pc.jpg" alt="「NIAiNO」の無料AI診断に画像を送って診断する">
                  <script src="https://cdn.niaino.jp/client/niaino.js"></script>
                </picture>
              </a>
            </li>
            <li>
              <a id="to-shindan" href="#question">
                <picture>
                  <source srcset="images/shindan/toshindan.png" alt="このサイト内でチャート診断をする" media="(max-width: 768px)">
                  <img src="images/shindan/toshindan_pc.png" alt="このサイト内でチャート診断をする">
                </picture>
              </a>
            </li>
          </ul>
        </div>

        <!-- 質問 -->
        <div class="shindan__quest" id="question">
          <p class="shindan__questTitle fadeToRight">骨格診断スタート!</p>
          <div class="shindan__questWrap">
            <div
              class="shindan__questCard"
              :id="'quest0' + section.id"
              v-for="section in sections"
            >
              <p class="shindan__questQ">
                Q.{{ section.text }}
              </p>
              <div class="shindan__questA answew-box">
                <template v-for="(answer, index) in section.answers">
                  <div
                    v-if="typeof answer.next === 'number'"
                    :class="{ yes: answer.id === 'A', no: answer.id === 'B' }"
                    :data-next="'#quest0' + answer.next"
                  >
                    <img :src="'images/question/q' + section.id + '-' + (index + 1) + '.png'" :alt="answer.text">
                    <p>{{ answer.id }}.{{ answer.text }}</p>
                  </div>
                  <a
                    v-else-if="typeof answer.next === 'string'"
                    :class="[{ yes: answer.id === 'A', no: answer.id === 'B' },'to-result', `toresult-${answer.next}`]"
                    :href="'#card-' + answer.next"
                  >
                    <img :src="'images/question/q' + section.id + '-' + (index + 1) + '.png'" :alt="answer.text">
                    <p>{{ answer.id }}.{{ answer.text }}</p>
                  </a>
                </template>
              </div>
            </div>

            <!-- result card -->
            <div
              class="shindan__result jsc-card"
              :id="'card-' + type.id"
              v-for="type in types"
            >
              <a :href="type.id + '.html'">
                <img :src="'images/shindan/result_' + type.id + '.png'" :alt="type.alt">
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- result -->
      <div class="result" id="result">
        <div class="result__menu">
          <ul class="result__menuList">
            <li v-for="section in sections">
              <a
                :class="'cookie-' + section.id"
                :href="'#result-' + section.id"
              >
                <span>{{ section.id }}</span><br>{{ section.type }}
              </a>
            </li>
          </ul>
        </div>

        <div
          :class="['result__inner', section.id, `result-${section.id}`]"
          :id="'result-' + section.id"
          v-for="section in sections"
        >
          <!-- アイテム -->
          <div class="result__item">
            <div class="result__heading">
              <p class="result__date"></p>
              <h3 class="result__itemTitle">
                <span class="result__itemTitle--or"></span>
                <span class="fadeToRight">骨格{{ section.type }}さんに<br class="hidden-pc">おすすめのアイテム</span>
              </h3>
            </div>
            <div class="hidden-pc">
              <div class="result__itemList"></div>
            </div>
            <div class="hidden-sp">
              <ul class="result__itemList"></ul>
            </div>
            <div class="result__buttonBox">
              <a
                :class="['result__button', 'result__itemMore', 'animated', 'inviewfadeIn', `cookie-${section.id}`]"
                :id="section.id + '-more'"
                href=""
              >
                すべて見る&emsp;&gt;
              </a>
              <a
                :class="['result__button', 'result__recommendType', 'animated', 'inviewfadeIn', `cookie-${section.id}`]"
                :href="section.recommend"
              >
                <!-- 骨格{{ section.type }}におすすめの商品一覧&emsp;&gt; -->
                <img class="hidden-pc" :src="'images/itemmore/rec_' + section.abb + '_sp.png'" :alt="section.id">
                <img class="hidden-sp" :src="'images/itemmore/rec_' + section.abb + '_pc.png'" :alt="section.id">
              </a>
              <a
                class="result__button result__recommendType animated inviewfadeIn"
                :href="section.id + '.html'"
              >
                <!-- 骨格{{ section.type }}の特徴を詳しく見る&emsp;&gt; -->
                <img class="hidden-pc" :src="'images/itemmore/feat_' + section.abb + '_sp.png'" :alt="section.id">
                <img class="hidden-sp" :src="'images/itemmore/feat_' + section.abb + '_pc.png'" :alt="section.id">

              </a>
              <a
                class="result__button result__recommendType animated inviewfadeIn"
                :href="'archive#' + section.id"
              >
                <!-- 骨格{{ section.type }}のアーカイブ特集を見る&emsp;&gt; -->
                <img class="hidden-pc" :src="'images/itemmore/archive_' + section.abb + '_sp.jpg'" :alt="section.id">
                <img class="hidden-sp" :src="'images/itemmore/archive_' + section.abb + '_pc.jpg'" :alt="section.id">

              </a>
            </div>
          </div>
          <!-- スナップ -->
          <div class="result__snap">
            <h3 class="result__snapTitle fadeToRight">
              骨格{{ section.type }}の<br class="hidden-pc">STAFF SNAP
            </h3>
            <ul class="result__snapList"></ul>
            <div class="result__buttonBox">
              <a
                :class="['result__button', 'result__itemMore', 'animated', 'inviewfadeIn', `cookie-${section.id}`]"
                :id="section.id + 'Snap-more'"
                :href=""
              >
                すべて見る&emsp;&gt;
              </a>
            </div>
        </div>
        </div>
      </div>

      <!-- leeep -->
      <!-- <div class="leeep">
        <p class="leeep__title">&#92; リールでわかる！ /<br> 骨格診断</p>
        <div class="leeep__movie">
          <script src="https://cite.leeep.jp/v2/embed/js" defer></script>
          <div id="leeep-tag-1116276420302094336"></div>
          <script>
            document.addEventListener('DOMContentLoaded', _ => {
              LeeepCite.init({
                tag_id: '1116276420302094336',
              });
            });
          </script>
        </div>
      </div> -->

      <!-- prof -->
      <div class="prof">
        <div class="prof__card animated inviewfadeIn">
          <div class="prof__data">
            <div class="prof__image"><img src="images/prof/prof.png" alt="真船 恵さん"></div>
            <div class="prof__info">
              <p class="prof__small">監修</p>
              <p class="prof__name">真船 恵<span>(まふめぐ)</span></p>
              <p class="prof__en">Megumi Mafune</p>
            </div>
          </div>
          <p class="prof__desc">
            ひよりスタイリングを主宰する骨格診断ファッションコンサルタント、パーソナルカラーアナリスト、顔タイプアドバイザー。<br>元看護師という経験を活かした解剖学を駆使し、センスを理論と数値化して伝える分かりやすさが魅力。
            自身のSNSではで発信している骨格タイプ別コラムをはじめ、パーソナルカラーごとに似合うコスメ紹介などのコンテンツを発信中！
          </p>
        </div>
        <div class="prof__card animated inviewfadeIn">
          <div class="prof__data">
            <div class="prof__image"><img src="images/prof/ricco_img.png" alt="Ricco.さん"></div>
            <div class="prof__info">
                <p class="prof__small">イラストレーター</p>
                <p class="prof__name prof__name--ill">Ricco.</p>
                <ul class="prof__link hidden-sp">
                  <li><a href="https://www.instagram.com/ricco.illustrator/?hl=ja" target="_blank">Instagram</a></li>
                  <li><a href="http://ricco-co.com/" target="_blank">web site</a></li>
                </ul>
              </div>
          </div>
          <ul class="prof__link hidden-pc">
            <li><a href="https://www.instagram.com/ricco.illustrator/?hl=ja" target="_blank">Instagram</a></li>
            <li><a href="http://ricco-co.com/" target="_blank">web site</a></li>
          </ul>
          <p class="prof__desc">
            広告、WEB、パッケージ、雑誌やPVのイラスト制作の他、園や施設、店舗等の壁画制作も行う。２分ほどで似顔絵が出てくる、『似顔絵マシーン』も数多くのイベントに出演する人気コンテンツに。
          </p>
        </div>
      </div>

      <!-- other -->
      <other-component :contents="contents"></other-component>
    </div>
  </main>

  <!-- footer -->
  <footer></footer>

  <!-- js  -->
  <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="js/lib/jquery.inview.min.js"></script>
  <script src="js/lib/jquery.csv.min.js"></script>
  <script src="js/lib/view_timer.js"></script>
  <script src="/shared/pc_pal/js/view_timer.js"></script>
  <script>document.cookie = "V3_brandGroup=; path=/; max-age=0";</script>

  <script src="js/load.js"></script>
  <script src="js/cookie.js"></script>
  <script src="js/check.js"></script>
  <script src="js/animation.js"></script>
  <script src="js/niaino.js"></script>
  <script src="https://www.palcloset.jp/shared/pc_pal/event/js/header_footer.js"></script>

  <!-- vue -->
  <!-- <script src="https://unpkg.com/vue@3"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.js"></script> -->
  <script src="https://www.palcloset.jp/shared/pc_pal/js/vue3.js"></script>
  <script src="js/component/question.js"></script>
  <script src="js/component/app.js" type="module"></script>

  <!--KARTE-->
  <script type="text/javascript">
    $(function () {
      var asyncUrl = '/addons/pal/shared/service/async_access_user_info.jsp'
      $.ajax({
        type: "GET",
        url: asyncUrl,
        success: function (json) {
          if (json.email.length > 0) {
            __karte__user = {};
            __karte__user.user_id = json.id;
            __karte__user.user_email = json.email;
          }
        }
      });
    });
  </script>
  <!--//KARTE-->
</body>
</html>