<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>
      隔週更新！骨格タイプストレートの似合う服。おすすめ商品&コーディネートを紹介
      | PAL CLOSET(パルクローゼット) - パルグループ公式ファッション通販サイト
    </title>
    <meta
      name="keywords"
      content="骨格診断,骨格ストレート,骨格ウェーブ,骨格ナチュラル,PAL CLOSET,通販,ファッション,公式通販サイト"
    />
    <meta
      name="description"
      content="骨格タイプ「ストレート」に似合う素材、柄、着こなしポイントを徹底解説。今すぐ着られるおすすめのシーズンアイテムとスタッフコーデも隔週更新！"
    />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link
      rel="canonical"
      href="https://www.palcloset.jp/shared/pc_pal/event/palcloset/stylecheck/straight.html"
    />
    <meta content="" name="author" />
    <meta content="" name="robots" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="" name="apple-mobile-web-app-title" />
    <meta
      content="fgjNBdciXsAtWmIGg-ReWRpm2ZT7yzLXk7kfZjWC64U"
      name="google-site-verification"
    />
    <meta content="website" property="og:type" />
    <meta
      content="隔週更新！骨格タイプストレートの似合う服。おすすめ商品&コーディネートを紹介 | PAL CLOSET(パルクローゼット) - パルグループ公式ファッション通販サイト"
      property="og:title"
    />
    <meta
      content="https://www.palcloset.jp/shared/pc_pal/event/palcloset/stylecheck/"
      property="og:url"
    />
    <meta
      content="https://www.palcloset.jp/shared/pc_pal/event/palcloset/stylecheck/images/banner.jpg"
      property="og:image"
    />
    <meta
      content="骨格タイプ「ストレート」に似合う素材、柄、着こなしポイントを徹底解説。今すぐ着られるおすすめのシーズンアイテムとスタッフコーデも隔週更新！"
      property="og:description"
    />
    <meta content="PAL CLOSET" property="og:site_name" />
    <meta content="100002442396964" property="fb:admins" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/shared/pc_pal/images/webclip/apple-touch-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/shared/pc_pal/images/webclip/apple-touch-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/shared/pc_pal/images/webclip/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/shared/pc_pal/images/webclip/apple-touch-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/shared/pc_pal/images/webclip/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/shared/pc_pal/images/webclip/apple-touch-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/shared/pc_pal/images/webclip/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/shared/pc_pal/images/webclip/apple-touch-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/shared/pc_pal/images/webclip/apple-touch-icon-180x180.png"
    />
    <link
      href="/shared/pc_pal/images/webclip/favicon-32x32.png"
      rel="icon"
      sizes="32x32"
      type="image/png"
    />
    <link
      href="/shared/pc_pal/images/webclip/android-chrome-192x192.png"
      rel="icon"
      sizes="192x192"
      type="image/png"
    />
    <link
      href="/shared/pc_pal/images/webclip/favicon-96x96.png"
      rel="icon"
      sizes="96x96"
      type="image/png"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"
    />

    <!-- css  -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.min.css"
    />
    <link rel="stylesheet" href="css/app.css" />
    <link
      rel="stylesheet"
      href="https://www.palcloset.jp/shared/pc_pal/event/css/lp_parts.css"
    />

    <!-- Adobe Fonts -->
    <script>
      (function (d) {
        var config = {
            kitId: "gth7ime",
            scriptTimeout: 3000,
            async: true,
          },
          h = d.documentElement,
          t = setTimeout(function () {
            h.className =
              h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
          }, config.scriptTimeout),
          tk = d.createElement("script"),
          f = false,
          s = d.getElementsByTagName("script")[0],
          a;
        h.className += " wf-loading";
        tk.src = "https://use.typekit.net/" + config.kitId + ".js";
        tk.async = true;
        tk.onload = tk.onreadystatechange = function () {
          a = this.readyState;
          if (f || (a && a != "complete" && a != "loaded")) return;
          f = true;
          clearTimeout(t);
          try {
            Typekit.load(config);
          } catch (e) {}
        };
        s.parentNode.insertBefore(tk, s);
      })(document);
    </script>
    <!-- Adobe Fonts -->

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-NG6PZGL");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body>
    <div style="display: none" id="upload"></div>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NG6PZGL"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- header -->
    <header></header>

    <!-- main -->
    <main id="app" data-target="straight" v-cloak>
      <div class="detail straight">
        <div class="detail__inner">
          <!-- top -->
          <div class="top">
            <h1 class="top__heading">
              <img src="images/straight/detail_st_title.png" alt="Straight" />
              <span>骨格ストレート</span>
            </h1>
            <p class="top__style fadeToRight">
              メリハリがしっかりした<br />グラマラスなスタイル
            </p>
            <div class="top__point">
              <div class="top__pointImage animated inviewfadeIn delay-03s">
                <picture>
                  <source
                    srcset="images/straight/st_01.png"
                    alt="上半身/バスト位置が高い、腰位置が高いメリハリのあるボディ"
                    media="(max-width: 768px)"
                  />
                  <img
                    src="images/straight/st_01_pc.png"
                    alt="上半身/バスト位置が高い、腰位置が高いメリハリのあるボディ"
                  />
                </picture>
              </div>
              <div class="top__pointImage animated inviewfadeIn delay-06s">
                <picture>
                  <source
                    srcset="images/straight/st_02.png"
                    alt="肌質/弾力を感じるハリ肌"
                    media="(max-width: 768px)"
                  />
                  <img
                    src="images/straight/st_02_pc.png"
                    alt="肌質/弾力を感じるハリ肌"
                  />
                </picture>
              </div>
              <div class="top__pointImage animated inviewfadeIn delay-09s">
                <picture>
                  <source
                    srcset="images/straight/st_03.png"
                    alt="下半身/ヒップ位置が高く、前モモにハリがある、膝下が細い"
                    media="(max-width: 768px)"
                  />
                  <img
                    src="images/straight/st_03_pc.png"
                    alt="下半身/ヒップ位置が高く、前モモにハリがある、膝下が細い"
                  />
                </picture>
              </div>
              <div class="top__pointWhole animated inviewfadeIn">
                <img
                  src="images/straight/st_nude_front_d.png"
                  alt="骨格ストレートのスタイル"
                />
              </div>
            </div>
            <p class="top__feature fadeToRight">
              「グラマラス」「ハリ肌」<br />「腰位置が高い」
            </p>
            <p class="top__desc animated inviewfadeIn">
              ツヤハリ肌と立体的なボディラインが特徴。<br />
              体全体に厚みがあり、筋肉もつきやすいタイプで、<br
                class="hidden-pc"
              />メリハリのあるグラマラスなスタイル。
            </p>
          </div>

          <!-- result -->
          <div class="result" id="result">
            <div class="result__heading">
              <p class="result__date"></p>
              <h2 class="result__title"></h2>
            </div>
            <div class="result__inner" :id="'result-' + filteredItem.id">
              <!-- アイテム -->
              <div class="result__item">
                <h3 class="result__itemTitle fadeToRight">
                  骨格{{ filteredItem.type }}さんにおすすめのアイテム
                </h3>
                <!-- ポイント -->
                <div
                  class="result__point"
                  v-for="list in filteredLists"
                >
                  <p
                    class="result__pointTitle"
                    v-if="list.item_name.trim() !== ''"
                  >
                    似合う{{ list.item_name }}のポイント
                  </p>
                  <ul class="result__pointList">
                    <li v-for="point in list.st_points">✔︎ {{ point }}</li>
                  </ul>
                </div>
                <div class="hidden-pc">
                  <div class="result__itemList"></div>
                </div>
                <div class="hidden-sp">
                  <ul class="result__itemList"></ul>
                </div>
                <div class="result__buttonBox">
                  <a
                    class="result__button result__itemMore animated inviewfadeIn"
                    :id="filteredItem.id + '-more'"
                    href=""
                  >
                    すべて見る&emsp;&gt;
                  </a>
                  <a
                    class="result__button result__recommendType animated inviewfadeIn"
                    :href="filteredItem.recommend"
                  >
                    <!-- 骨格{{ filteredItem.type }}におすすめの商品一覧&emsp;&gt; -->
                    <!-- 骨格{{ section.type }}におすすめの商品一覧&emsp;&gt; -->
                    <img
                      class="hidden-pc"
                      src="images/itemmore/rec_st_sp.png"
                      alt="section.id"
                    />
                    <img
                      class="hidden-sp"
                      src="images/itemmore/rec_st_pc.png"
                      alt="section.id"
                    />
                  </a>
                  <a
                    class="result__button result__recommendType animated inviewfadeIn"
                    href="archive#straight"
                  >
                    <!-- 骨格{{ section.type }}のアーカイブ特集を見る&emsp;&gt; -->
                    <img
                      class="hidden-pc"
                      :src="'images/itemmore/archive_st_sp.jpg'"
                      alt="section.id"
                    />
                    <img
                      class="hidden-sp"
                      :src="'images/itemmore/archive_st_pc.jpg'"
                      alt="section.id"
                    />
                  </a>
                </div>
              </div>

              <!-- スナップ -->
              <div class="result__snap">
                <h3 class="result__snapTitle fadeToRight">
                  骨格{{ filteredItem.type }}のSTAFF SNAP
                </h3>
                <ul class="result__snapList"></ul>
                <div class="result__buttonBox">
                  <a
                    class="result__button result__itemMore animated inviewfadeIn"
                    :id="filteredItem.id + 'Snap-more'"
                    href=""
                  >
                    もっと見る&emsp;&gt;
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- keyword -->
          <div class="section keyword">
            <h2 class="section__title fadeToRight">
              <span>Keyword</span><br />
              骨格ストレートさんに似合うキーワード
            </h2>
            <p class="section__theme animated inviewfadeIn">
              「シンプル」「Iライン」<br />
              「ジャストサイズ」
            </p>
            <p class="section__desc animated inviewfadeIn">
              メリハリボディは洋服で盛らずともオシャレに見えるので、<br
                class="hidden-sp"
              />ボディラインを活かしたジャストサイズのキレイめデザインがおすすめ。<br />
              ツヤとハリのある肌質に似合う、<br
                class="hidden-sp"
              />凹凸の少ない生地が得意。<br
                class="hidden-sp"
              />重心は真ん中でIラインを意識したスタイリングを！
            </p>
          </div>

          <!-- item -->
          <div class="section item">
            <h2 class="section__title fadeToRight">
              <span>Item</span><br />
              骨格ストレートさんに似合うアイテム
            </h2>
            <ul class="section__list animated inviewfadeIn">
              <li>
                <p class="section__name"><span>TOPS</span></p>
                <p><span>Vネックニット 、ロングカーディガン</span></p>
              </li>
              <li>
                <p class="section__name"><span>PANTS</span></p>
                <p><span>センタープレスパンツ、フレアパンツ</span></p>
              </li>
              <li>
                <p class="section__name"><span>SKIRT</span></p>
                <p><span>タイトスカート、ロングスカート</span></p>
              </li>
              <li>
                <p class="section__name"><span>ONEPIECE</span></p>
                <p><span>Iラインのワンピース、シャツワンピース</span></p>
              </li>
              <li>
                <p class="section__name"><span>OUTER</span></p>
                <p><span>テーラードジャケット、チェスターコート</span></p>
              </li>
              <li>
                <p class="section__name"><span>BAG</span></p>
                <p><span>自立するハンドバッグ、ワンハンドルバッグ</span></p>
              </li>
            </ul>
          </div>

          <!-- material -->
          <div class="section material">
            <h2 class="section__title fadeToRight">
              <span>Material</span><br />
              骨格ストレートさんに似合う素材
            </h2>
            <p class="section__theme animated inviewfadeIn">
              「ハリのあるリッチ感」
            </p>
            <p class="section__desc animated inviewfadeIn">
              ハリのある素材でハイゲージや伸縮性のない、表面に自然な光沢感があるキレイめ素材
            </p>
            <ul class="section__list animated inviewfadeIn">
              <li>✔︎レザー</li>
              <li>✔︎コットン</li>
              <li>✔︎圧縮ウール</li>
              <li>✔︎カシミヤ</li>
              <li>✔︎サテン</li>
              <li>✔︎シルク</li>
            </ul>
          </div>

          <!-- pattern -->
          <div class="section pattern">
            <h2 class="section__title fadeToRight">
              <span>Pattern</span><br />
              骨格ストレートさんに似合う柄
            </h2>
            <p class="section__desc animated inviewfadeIn">
              基本的には無地が得意。<br />
              スッキリとした余白を感じられる柄がオススメ
            </p>
            <ul class="section__list animated inviewfadeIn">
              <li>
                <img src="images/straight/pt_st01.png" alt="大きな花柄" />
                <p>大きな花柄</p>
              </li>
              <li>
                <img src="images/straight/pt_st02.png" alt="ピンストライプ" />
                <p>ピンストライプ</p>
              </li>
              <li>
                <img src="images/straight/pt_st03.png" alt="タータンチェック" />
                <p>タータンチェック</p>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- check -->
      <check-component :sections="excludedItems"></check-component>

      <!-- other -->
      <other-component :contents="contents"></other-component>

      <!-- 固定リンク -->
      <fixed-component :sections="excludedItems"></fixed-component>
    </main>

    <!-- js  -->
    <script
      src="https://code.jquery.com/jquery-1.12.4.js"
      integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="js/lib/jquery.inview.min.js"></script>
    <script src="js/lib/jquery.csv.min.js"></script>
    <script src="js/lib/view_timer.js"></script>

    <script src="js/load.js"></script>
    <script src="js/check.js"></script>
    <script src="js/animation.js"></script>
    <script src="https://www.palcloset.jp/shared/pc_pal/event/js/header_footer.js"></script>

    <!-- cookie -->
    <script>
      document.cookie = "V3_brandGroup=; path=/; max-age=0";
      $(function () {
        $.cookie("st-type", "straight", {
          expires: 365,
          path: "/",
          domain: "palcloset.jp",
        });
      });
    </script>

    <!-- Vue  -->
    <!-- <script src="https://unpkg.com/vue@3"></script> -->
    <script src="https://www.palcloset.jp/shared/pc_pal/js/vue3.js"></script>
    <script src="js/component/app.js" type="module"></script>

    <!--KARTE-->
    <script type="text/javascript">
      $(function () {
        var asyncUrl = "/addons/pal/shared/service/async_access_user_info.jsp";
        $.ajax({
          type: "GET",
          url: asyncUrl,
          success: function (json) {
            if (json.email.length > 0) {
              __karte__user = {};
              __karte__user.user_id = json.id;
              __karte__user.user_email = json.email;
            }
          },
        });
      });
    </script>
    <!--//KARTE-->
  </body>
</html>
